[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
solana_amm = "3urPFjzfHCS8K37dh2yqvavsQPdmEa5H6pLuv8xWpQXP"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "./phantom-keypair.json"

[test]
startup_wait = 10000

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 20000 \"tests/**/*.ts\""
